{% extends "base.html" %}
{% load region_tags icons %}

{% block content %}
{% rurl 'services:list' as services_url %}
{% include "partials/page_hero.html" with hero_eyebrow=category.name hero_title=service.name hero_lead=service.summary crumb_parent_label="Services" crumb_parent_url=services_url crumb_parent2_label=category.name crumb_parent2_url=category.get_absolute_url crumb_label=service.name %}

{% include "partials/service_sections.html" %}
{% endblock %}

{% block head_extra %}{{ service.custom_head|safe }}{% endblock %}
